
@media screen and (max-width: 500px) {
    /* header {
        flex-direction: column;
        gap: 15px;
    } */

    /* .menu {
        position: fixed;
        top: 0;
        background-color: white;
        right: -270px;
        height: 100vh;
        width: 300px;
        border-left: 1px solid black;
    } */

    .menu {
        position: fixed;
        top: 0;
        background-color: rgb(116, 112, 112);
        right: -270px;
        height: 30px;
        width: 300px;
        border-left: 1px solid black;
        border-radius: 5px;
    }

    .menu ul {
        flex-direction: column;
        padding-left: 30px;
        padding-top: 30px;
        box-sizing: border-box;
        gap: 10px;
    }

    .menu:hover {
        left: 50%;
    }
}