.process {
    padding: 0 165px;
    box-sizing: border-box;
}

.process-items {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 128px;  */


    display: flex;
    justify-content: center;
    margin-top: 62px;
    /* margin-bottom: 120px; */
}

.process-title-work {
    display: flex;
    flex-direction: column;
}

.button-work {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0 45%;
    margin-top: 120px;
    margin-bottom: 42px;
    box-sizing: border-box;
    
}

.button-work button {
    width: 165px;
    height: 36px;                               

    background: #FFF3EA;
    border-radius: 48px;
    border: none;

    margin-left: auto;
    margin-right: auto;
}

.button-work button p {
    width: 112px;
    height: 20px;

    padding: 8px 26px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #E29578;
}

.process-title {
    width: 100%;
    text-align: center;
}

.process-title h1{
    font-size: 50px;
    color: #101828;

    width: 659px;
    height: 109px;

    margin: 0px 21%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.process-item {
    width: 285px;
    height: 320px;
    border-radius: 8px;
}

.process-item img {
    width: 100px;
    height: 100px;
    padding: 46px 92px 0px;
}

.process-item p {
    width: auto;
    height: auto;
    padding: 35px 84px 45px 84px;

    color: #667085;
}

.process-items-one {
    background: #FFF3EA;
}

.process-items-two {
    background: #FDE2E4
}

.process-items-three {
    background: #DBECE5;
}

.process-items-four {
    background: #DBECE5;
}

.process-items-five {
    background: #D1ECFD;
}

.process-item .title {
    color: #1E2534;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 22px 61px 0px 61px;
} 

.next-sign {
    width: 88px;
    height: 20px;

    padding: 160px 20px 0 20px;
}
